
        .mykf{
            width: 1000px;
            height: 800px;
            margin: 0 auto;
            background-color: rgb(89, 205, 248);
            color: black;
            font-size: 40px;
        }
