
        *{
            margin: 0px;
            padding: 0px;
        }
        .head{
            width: 100%;
            height: 40px;
            position: relative;
            background-color: rgb(245, 248, 250);
        }
        .headson1{
            width: 200px;
            height: 20px;
            position: absolute;
            top: 10px;
            left: 120px;
            font-size: 6px;
            color: rgba(0, 0, 0, 0.8);
            line-height: 20px;
            float: left;
        }
        .headson2{
            width: 50px;
            height: 20px;
            position: absolute;
            right: 120px;
            top: 10px;
            font-size: 6px;
            line-height: 20px;
            float: left;
        }
        .headson2:hover{
            color: red;
            cursor: pointer;
        }
        .toubu{
            width: 100%;
            height: 140px;
            position: relative;
        }
        .toubuson1{
            width: 300px;
            height: 50px;
            position: absolute;
            left: 110px;
            top: 30px;
            background: url(../image/logo.png);
            float: left;
        }
        .toubuson2{
            width: 600px;
            height: 120px;
            left: 480px;
            top: 30px;
            position: absolute;
            float: left;
        }
        .sousuo{
            width: 390px;
            height: 40px;
            border: 1;
            padding-left: 10px;
            border: 2px solid rgb(17, 132, 225);
            border-radius: 8px;
            float: left;
        }
        .souson1{
            width: 60px;
            height: 45px;
            background: url(../image/sousuo.png);
            border-radius: 5px;
            float: left;
        }
        .souson1:hover{
            background: url(../image/sousuo2.png);
            cursor: pointer;
        }
        .souson2{
            width: 60px;
            height: 20px;
            position: absolute;
            bottom: 40px;
            font-size: 10px;
            color: rgba(0, 0, 0, 0.8);
            float: left;
        }
        .souson3{
            width: 600px;
            height: 20px;
            position: absolute;
            bottom: 43px;
            left: 70px;
        }
        .suoson{
            display: inline-block;
            width: 84px;
            height: 30px;
            line-height: 20px;
        }
        .suoson>a{
            font-size: 10px;
            color: rgba(0, 0, 0, 0.5);
            text-decoration: none;
        }
        .suoson>a:hover{
            color: red;
            text-decoration: underline;
        }
        .toubuson3{
            width: 200px;
            height: 60px;
            position: relative;
            left: 1000px;
            top: 30px;
            position: absolute;
        }
        .dianhua1{
            width: 50px;
            height: 50px;
            background: url(../image/dianhua.png);
            float: left;
        }
        .dianhua2{
            width: 150px;
            height: 50px;
            float: right;
        }
        .dianhuason1{
            width: 150px;
            height: 30px;
            font-size: 20px;
            margin-left: 5px;
            color: rgb(17, 132, 229);
        }
        .dianhuason2{
            width: 150px;
            height: 20px;
            font-size: 10px;
            margin-left: 5px;
            color: rgba(0, 0, 0, 0.5);
        }
        .dianhuason3{
            width: 40px;
            height: 20px;
            font-size: 10px;
            color: rgb(51, 148, 228);
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .toubuson4{
            width: 40px;
            height: 20px;
            position: absolute;
            bottom: 90px;
            right: 150px;
            text-align: center;
        }
        .toubuson4>a{
            font-size: 15px;
            color: rgba(0, 0, 0, 0.9);
            text-decoration: none;
        }
        .toubuson4>a:hover{
            color: red;
        }
        .daohang{
            width: 100%;
            height: 50px;
            background-color: rgb(33, 124, 209);
        }
        .daohangson{
            width: 1300px;
            height: 100%;
            margin: 0px auto;
            list-style-type: none;
        }
        .lan{
            width: 140px;
            height: 100%;
            float: left;
            line-height: 50px;
            text-align: center;
            font-size: 20px;
            font-family: 楷体;
            font-weight: bolder;
        }
        .lan>a{
            color: white;
            text-decoration: none;
        }
        .lan:hover{
            background-color: rgb(255, 255, 255);
        }
        .lan:hover a{
            color: rgb(67, 155, 253);
        }
        /* 轮播图 */
        .lunbo{
           position: relative;
           width: 1540px;
           height: 475px; 
           list-style: none;
           background-color: #eee;
           overflow: hidden;
        }
        .lunbo li{
            width: inherit;
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            display: flex;
            transition: .5s transform ease-in-out;
        }
        #lunboson1{
            left: 0%;
        }
        #lunboson2{
            left: 100%;
        }
        #lunboson3{
            left: 200%;
        }
        #lunboson4{
            left: 300%;
        }
        input[type="radio"]{
            position: relative;
            z-index: 100;
            display: none;
        }
        .controls-visible{
            position: absolute;
            width: 100%;
            bottom: 12px;
            text-align: center;
        }
        .controls-visible label{
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: #fff;
            border-radius: 50%;
            margin: 0 3px;
            border: 2px solid #fff;
        }
        .lunbo input[type="radio"]:nth-of-type(1):checked ~
        .controls-visible label:nth-of-type(1){
            background-color: #333;
        }
        .lunbo input[type="radio"]:nth-of-type(2):checked ~
        .controls-visible label:nth-of-type(2){
            background-color: #333;
        }
        .lunbo input[type="radio"]:nth-of-type(3):checked ~
        .controls-visible label:nth-of-type(3){
            background-color: #333;
        }
        .lunbo input[type="radio"]:nth-of-type(4):checked ~
        .controls-visible label:nth-of-type(4){
            background-color: #333;
        }
        .lunbo input[type="radio"]:nth-of-type(1):checked ~ .lunboson
        {
            transform: translate(0%);
        }
        .lunbo input[type="radio"]:nth-of-type(2):checked ~.lunboson
        {
            transform: translate(-100%);
        }
        .lunbo input[type="radio"]:nth-of-type(3):checked ~ .lunboson
        {
            transform: translate(-200%);
        }
        .lunbo input[type="radio"]:nth-of-type(4):checked ~.lunboson
        {
            transform: translate(-300%);
        }
        /* 六盒子 */
        .sixbox{
            width: 1540px;
            height: 820px;
            margin-top: 20px;
        }
        .boxson1{
            width: 480px;
            height: 400px;
            margin-left: 20px;
            float: left;
            margin-bottom: 20px;
        }
        .mfst-1{
            width: 480px;
            height: 50px;
            background: url(../image/st.png);
            background-repeat: no-repeat;
            border-bottom: 3px solid rgb(221, 221, 221);
        }
        .mfst-2>span{
            display: block;
            width: 480px;
            height: 20px;
            margin-top: 20px;
        }
        .mfst-2 span a{
            text-decoration: none;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.6);
            font-family: 楷体;
        }
        .mfst-2 span a:hover{
            color: red;
        }
        .boxson2{
            width: 480px;
            height: 400px;
            margin-left: 20px;
            float: left;
            margin-bottom: 20px;
        }
        .boxson3{
            width: 480px;
            height: 400px;
            margin-left: 20px;
            float: left;
            margin-bottom: 20px;
        }
        .huiyi-1{
            width: 480px;
            height: 300px;
            background: url(../image/lj2.jpg);
        }
        .huiyi-2{
            color: rgba(0, 0, 0, 0.6);
            font-size: 18px;
            font-family: 楷体;
        }
        .boxson4{
            width: 480px;
            height: 400px;
            margin-left: 20px;
            float: left;
        }
        .news-1{
            width: 480px;
            height: 40px;
            background-color: #217cd1;
            color: white;
            font-size: 20px;
            font-weight: bold;
            border-bottom: 3px solid rgb(221, 221, 221);
        }
        .news-2{
            margin-top: 10px;
            width: 480px;
            height: 380px;
        }
        .news-2 a{
            display: block;
            width: 480px;
            height: 30px;
            border-top: 8px;
            color: rgba(0, 0, 0, 0.6);
            font-size: 15px;
            text-decoration: none;
        }
        .news-2 a:hover{
            color: red;
            text-decoration: underline;
        }
        .jsfu{
            width: 100%;
            height: 500px;
            background-color:#f0f0f0
        }
        .jieshao{
            width: 1380px;
            height: 450px;
            margin: 0px auto;
            margin-top: 20px;
            list-style-type: none;
        }
        .jieshaoson{
            width: 320px;
            height: 450px;
            background-color: #fff;
            float: left;
            margin-left: 20px;
            border: 1px transparent;
            border-radius: 8px;
        }
        .jsson-2{
            color: rgba(0, 0, 0, 0.6);
            font-size: 20px;
            font-family: 楷体;
        }
        .jieshaoson:hover{
            border-bottom: 3px solid #d59e4e;
        }
        .bujufu{
            width: 100%;
            height: 120px;
        }
        .buju{
            width: 1400px;
            height: 120px;
            list-style-type: none;
            margin: 0 auto;
        }
        .bujuson{
            width: 256px;
            height: 120px;
            float: left;
            margin-right: 22px;
            overflow: hidden;
            transition: all .5s;
        }
        .bujuson:hover{
            transform: scale(1.1);
        }
        .yqljfu{
            width: 100%;
            height: 80px;
            margin-top: 20px;
            background-color: #4fc5ec;
        }
        .yqlj{
            width: 1000px;
            height: 80px;
            margin: 0 auto;
            list-style-type: none;
        }
        .yqljson{
            width: 200px;
            height: 40px;
            float: left;
        }
        .yqljson a{
            text-decoration: none;
            color:rgba(0, 0, 0, 0.6);
            font-size: 14px;
        }
        .yqljson a:hover{
            color: white;
            text-decoration: underline;
        }
        .footers{
            width: 100%;
            height: 400px;
            position: relative;
            background-color: #3a3a3a;
        }
        .vx,.qq{
            width: 200px;
            height: 250px;
            position: absolute;
            float: left;
            margin-top: 30px;
            margin-left: 25px;
        }
        .qq{
            top: 0px;
            left: 250px;
        }
        .vxewm{
            width: 200px;
            height: 200px;
            background: url(../image/wxewm.jpg);
            background-repeat: no-repeat;
            transition: all .2s;
        }
        .qqewm{
            width: 200px;
            height: 200px;
            background: url(../image/qq.jpg);
            background-repeat: no-repeat;
            overflow: hidden;
            transition: all .2s;
        }
        .footerzi{
            display: block;
            width: 200px;
            height: 50px;
            font-size: 40px;
            color: white;
            text-align: center;
            line-height: 50px;
        }
        .vxewm:hover{
            transform: scale(1.1);
        }
        .qqewm:hover{
            transform: scale(1.1);
        }
        .lxfs{
            width: 600px;
            height: 200px;
            position: absolute;
            right: 10px;
            top: 50px;
            text-align: center;
            color: rgb(218, 58, 59);
            font-size:40px;
            font-weight: bold;
            font-family: 楷体;
            background: url(../image/lxfs.png);
            background-repeat: no-repeat;
            background-position: 70px -5px;
            border-left: 2px dashed rgba(225, 225, 225, 0.2);
        }
        .sjsz{
            width: 600px;
            height: 30px;
            color:rgba(225, 225, 225, 0.2);
            font-size: 18px;
            text-align: center;
            line-height: 30px;
            position: absolute;
            top: 100px;
            right: 10px;
        }
        .th{
            width: 150px;
            height: 40px;
            border-radius: 10px;
            background-color: rgb(254, 68, 73);
            color: white;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            line-height: 40px;
            margin-top: 10px;
            margin-left: 220px;
        }
        .th:hover{
            color: rgb(221, 221, 221);
            cursor: pointer;
        }